html {
  display: flex;
  flex-direction: column;
}

body {

  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

smartadmin-app {

  display: flex;
  flex-direction: column;
  flex: 1;
}

#main {

  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  min-height: 100%;
  padding-bottom: 0;

}

#content {

  display: flex;
  flex-direction: column;
  flex: 1;
}

sa-outlook, sa-maps {

  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-footer {
  position: relative;
}


.fx-fill{
  display: flex;
  flex-direction: column;
  flex: 1;
}

sa-widgets-grid>#widgets-grid{
  display: flex;
  flex-direction: column;
  flex: 1;

}

sa-widget.fx-fill>.jarviswidget{
  display: flex;
  flex-direction: column;
  flex: 1;

}

a[href=""]:hover{cursor: pointer;}


.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
