<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <big-breadcrumbs items="['Widgets']" icon="list-alt" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    <div smart-include="app/layout/partials/sub-header.tpl.html"></div>
  </div>
  <div class="row">
    <div class="col-sm-12">

      <div class="alert alert-info fade in">
        <button class="close" data-dismiss="alert">
          ×
        </button>
        <i class="fa-fw fa fa-info"></i>
        <strong>Heads up!</strong> If the widgets are not reacting to your drag and drop events on chrome, try to turn off chrome touch events by going to, <a href="chrome://flags/#touch-events">chrome://flags/#touch-events</a> if you do not have a touch screen.
      </div>

      <div class="well">
        <button class="close" data-dismiss="alert">
          &#xD7;
        </button>
        <h1><span class="semi-bold">Smart</span> <i class="ultra-light">Widgets</i> (aka JarvisWidgets) <sup class="badge bg-color-red bounceIn animated">v 2.0</sup> <br>
          <small class="text-danger slideInRight fast animated"><strong>Exclusive to SmartAdmin!</strong></small></h1>
        <p>The all new and revolutionary JarvisWidgets v2.0 (<strong>$35 value</strong>) is now only exclusive to SmartAdmin.
          JarvisWidgets allows you to do more than your normal widgets. You can now use realtime
          <a class="semi-bold" data-uib-popover="You can load content with ajax. You can even set a 'last updated' timestamp (customizable) a refresh button and set an auto refresh timer." data-popover-placement="bottom" data-popover-trigger="mouseenter">
            AJAX loading </a> in a snap with auto refresh.
          Add <a class="semi-bold" data-uib-popover="You can use 5 types of action buttons, toggle, edit, fullscreen, delete and custom button(s) which you can set for a custom action(s). You can even change the order of the action buttons. You can set a custom icon for every button. You can also add your own custom buttons, tabs, progress bars and more." data-popover-placement="bottom" data-popover-trigger="mouseenter"> Infinite </a> buttons and controls to widget header. All widgets are
          <a class="semi-bold" data-uib-popover="The Jarvis Widgets are sortable, on tablet and some phones. Dont want sortable widgets on tables/phones, no problem you can remove this." data-popover-placement="bottom" data-popover-trigger="mouseenter"> Sortable</a> across all bootstrap col-spans and uses
          <a class="semi-bold" data-uib-popover="This plugin gives you the option to let you save a couple of settings for example the position, color and title of the widget." data-popover-placement="bottom" data-popover-trigger="mouseenter">HTML5 localStorage</a>. Also now supports
          <a class="semi-bold" data-uib-popover="This plugin is by default ltr, but it has a rtl option." data-popover-placement="bottom" data-popover-trigger="mouseenter">RTL Support</a>,
          <a class="semi-bold" data-uib-popover="The Jarvis Widget works in every modern browser on windows, ios, osx, android, blackberry and windows phone." data-popover-placement="bottom" data-popover-trigger="mouseenter">Crosbrowser Support</a>,
          <a class="semi-bold" data-uib-popover="The Jarvis Widget plugin has a couple of callback function wich you can use for several things, for example, use AJAX to store the data into a database." data-popover-placement="bottom" data-popover-trigger="mouseenter">Callback functions</a> and
          <a class="semi-bold" data-uib-popover="To give you more control you can set a lot of options per widget by using a dataset tag which will override the main plugin settings." data-popover-placement="bottom" data-popover-trigger="mouseenter">More</a>..</p>
      </div>
    </div>
  </div>
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- row -->
    <div class="row">
      <!--widgets column-->
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <sa-widget>
          <!-- widget options:
              usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
              data-widget-colorbutton="false"
              data-widget-editbutton="false"
              data-widget-togglebutton="false"
              data-widget-deletebutton="false"
              data-widget-fullscreenbutton="false"
              data-widget-custombutton="false"
              data-widget-collapsed="true"
              data-widget-sortable="false"
          -->
          <header>
            <h2><strong>Default</strong> <i>Widget</i></h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <p> Widget comes with a default 10 padding to the body which can be removed by adding the class <code>.no-padding</code>
                to the <code>.widget-body</code> class. The default widget also comes with 5 widget buttons as displayed on top right
                corner of the widget header. </p>
              <a href-void class="btn btn-default btn-lg"> <strong>Big</strong> <i>Button</i> </a>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </sa-widget>
        <!-- end widget -->


        <sa-widget [colorbutton]="false"
                   [togglebutton]="false"
                   [deletebutton]="false"
                   [fullscreenbutton]="false"
                   [color]="'blue'">
          <!-- widget options:
              usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
              data-widget-colorbutton="false"
              data-widget-editbutton="false"
              data-widget-togglebutton="false"
              data-widget-deletebutton="false"
              data-widget-fullscreenbutton="false"
              data-widget-custombutton="false"
              data-widget-collapsed="true"
              data-widget-sortable="false"
          -->
          <header>
            <h2><strong>Title</strong> <i>Change</i></h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <h3 class="alert alert-info"> Activate Options Button </h3>
              <code>data-widget-editbutton</code>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </sa-widget>

      </article>

      <!--widgets column-->
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <!-- full screen demo-->
        <sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [color]="greenLight">
          <!-- widget options:
              usage: <div data-jarvis-widget id="wid-id-0" data-widget-editbutton="false">
              data-widget-colorbutton="false"
              data-widget-editbutton="false"
              data-widget-togglebutton="false"
              data-widget-deletebutton="false"
              data-widget-fullscreenbutton="false"
              data-widget-custombutton="false"
              data-widget-collapsed="true"
              data-widget-sortable="false"
          -->
          <header>
            <h2><strong>Full</strong> <i>Screen</i></h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <h2 class="alert alert-success"> Make any widget full screen</h2>
              <code>data-widget-fullscreenbutton</code>
              <br><br>
              <p>Usefull when viewing images, gallery, tables with large data and maps. There are much useful applications to this method</p>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </sa-widget>
      </article>

    </div>
    <!-- end row -->
    <!-- row -->

    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
