html {
  display: flex;
  flex-direction: column;
}

body {

  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}

app-root, app-main-layout, app-auth-layout, app-locked, #extr-page{

  display: flex;
  flex-direction: column;
  flex: 1;
}

#main {

  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: stretch;
  min-height: 100%;
  padding-bottom: 0;

}

#content {

  display: flex;
  flex-direction: column;
  flex: 1;
}

sa-outlook, sa-maps {

  display: flex;
  flex-direction: column;
  flex: 1;
}

.page-footer {
  position: relative;
}


.fx-fill{
  display: flex;
  flex-direction: column;
  flex: 1;
}

sa-widgets-grid>#widgets-grid{
  display: flex;
  flex-direction: column;
  flex: 1;

}

sa-widget.fx-fill>.jarviswidget{
  display: flex;
  flex-direction: column;
  flex: 1;

}

a:hover{cursor: pointer;}


#shortcut {
  display: block;
  overflow: hidden;
}


#map-canvas{
  min-height: 300px
}

.parent_li .sa-icon{
  margin-left: 1rem;
}


.tab-container>.nav.nav-tabs{
  display: none;
}

.inbox-body{
  flex: 1;
}




.colorpicker.colorpicker-hidden {
  display: none;
}
.colorpicker.colorpicker-visible {
  display: block;
}
.colorpicker-inline.colorpicker-visible {
  display: inline-block;
}


.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}


svg {
  touch-action: none;
}

.tabbed-widget-content{
  position: relative;

}


.tabbed-widget-content .nav-tabs.pull-right>li>a{
  padding: 6px 10px 6px;
}
.tabbed-widget-content .nav-tabs.pull-right{
  position: relative;
  top: -45px;
  display: block;
}


.vector-map-pane{
  height: 300px;
}



.jvectormap-container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  touch-action: none;
}
