<sa-widget color="blueDark">
  <header>
    <span class="widget-icon"> <i class="fa fa-calendar"></i> </span>

    <h2> My Events </h2>

    <div class="widget-toolbar">
      <!--<DropdownButton id="calendar-showing-dropdown" title="Showing" pullRight bsSize="xsmall">
        <MenuItem onClick={this._changeView.bind(this, 'month')}>Month</MenuItem>
        <MenuItem onClick={this._changeView.bind(this, 'agendaWeek')}>Agenda</MenuItem>
        <MenuItem onClick={this._changeView.bind(this, 'agendaDay')}>Today</MenuItem>
      </DropdownButton>-->
    </div>
  </header>

  <div>
    <div class="widget-body no-padding">

      <div class="widget-body-toolbar">

      </div>


      <div id="calendar" ref="smartCalendar"></div>

    </div>

  </div>

</sa-widget>
